.mainContent {
	position: relative;
	display: flex;
	flex-direction: column;
}
.mainContent .staticInfo {
	display: flex;
	flex-direction: column;
	gap: 2.8em;
}

/* logo + info */
.mainContent .staticInfo header {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	max-width: 420px;
}
.mainContent .staticInfo header img {
	width: 100%;
}

.colorFilter {
	position: sticky;
	top: calc(0em - var(--standard-padding));
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.6em;
	height: 100%;
	padding: var(--standard-padding) 0;
	background-color: var(--color-light);
	z-index: 99;
}

.colorFilter button {
	border: none;
	background-color: transparent;
}

.colorFilter a,
.colorFilter button {
	display: inline-block;
	font-size: 1em;
	line-height: 1.2em;
	cursor: pointer;
}
.colorFilter a::after,
.colorFilter button::after {
	content: '';
	display: block;
	width: 0;
	height: 4%;
	background-color: var(--color-dark);
	transition: width 0.3s;
}
.colorFilter a:hover::after,
.colorFilter a:focus::after,
.colorFilter a:active::after,
.colorFilter button:hover::after,
.colorFilter button:focus::after,
.colorFilter button:active::after {
	width: 100%;
}

/* select color */
.colorFilter input[type='submit'] {
	display: none;
}
.colorFilter form {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
}
.colorFilter form > div:first-of-type {
	display: flex;
	justify-content: space-between;
}
.colorFilter form > div:last-of-type {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2em;
}

.colorFilter label div {
	width: 37.9px;
	height: 37.9px;
	background: var(--color-value);
	transition: all 0.15s ease;
	cursor: pointer;
}
.colorFilter label:nth-of-type(1) {
	--color-value: #000;
}
.colorFilter label:nth-of-type(2) {
	--color-value: #737c84;
}
.colorFilter label:nth-of-type(3) {
	--color-value: #b5bfcc;
}
.colorFilter label:nth-of-type(4) {
	--color-value: #f6ecf3;
}
.colorFilter label:nth-of-type(5) {
	--color-value: #dda5aa;
}
.colorFilter label:nth-of-type(6) {
	--color-value: #f49b7a;
}
.colorFilter label:nth-of-type(7) {
	--color-value: #df4c93;
}
.colorFilter label:nth-of-type(8) {
	--color-value: #de4153;
}
.colorFilter label:nth-of-type(9) {
	--color-value: #981313;
}
.colorFilter label:nth-of-type(10) {
	--color-value: #b35a1f;
}
.colorFilter label:nth-of-type(11) {
	--color-value: #e09714;
}
.colorFilter label:nth-of-type(12) {
	--color-value: #ffeb00;
}
.colorFilter label:nth-of-type(13) {
	--color-value: #fbf6e1;
}
.colorFilter label:nth-of-type(14) {
	--color-value: #e0cc91;
}
.colorFilter label:nth-of-type(15) {
	--color-value: #62ad77;
}
.colorFilter label:nth-of-type(16) {
	--color-value: #2f4f4f;
}
.colorFilter label:nth-of-type(17) {
	--color-value: #4279db;
}
.colorFilter label:nth-of-type(18) {
	--color-value: #8268dc;
}
.colorFilter label:nth-of-type(19) {
	--color-value: #4019b1;
}
.colorFilter label:nth-of-type(20) {
	--color-value: #850085;
}

.colorFilter label div:hover {
	background-color: #fff;
	border: 8px solid var(--color-value);
	transition: all 0.15s ease;
}

@media only screen and (min-width: 1000px) {
	.mainContent:has(.colorFilter) {
		justify-content: normal;
	}
	.mainContent:has(.colorFilter) .loadingData ul {
		columns: 4;
	}
	.colorFilter a {
		margin-top: 0;
	}
	.colorFilter label div {
		width: 38.6px;
		height: 38.6px;
	}
	.colorFilter label div.active {
		height: 52px;
	}
	.colorFilter label div:hover,
	.colorFilter label div:focus-visible,
	.colorFilter label div:active {
		height: 52px;
		background-color: var(--color-value);
		border: none;
	}
}

@media only screen and (min-width: 1000px) {
	.mainContent {
		grid-column-start: 1;
		grid-column-end: 3;
		padding: var(--standard-padding);
		overflow: auto;
		display: flex;
		flex-direction: column;
	}
	.mainContent.spacing {
		justify-content: unset;
	}
	.mainContent .staticInfo header {
		max-width: none;
	}
	.mainContent .staticInfo header img {
		width: 90%;
	}
}
