<!-- (3)[desktop: info section] -->
<section class='info'>
	{{#if (eq language 'nl')}}
		<p>Dagelijks 9 tot 17u</p>
	{{else}}
		<p>Open daily 9 to 17h</p>
	{{/if}}
	<p>|</p>
	<p>Museumstraat 1, Amsterdam</p>
</section>