<!-- (5)[desktop: language section] -->
<section class='language'>
	<form action='/language' method='post'>
		<label tabindex='0'>
			<input type='radio' name='language' value='en' {{#if (eq language 'en')}} checked {{/if}}>
			<img draggable='false' src='/static/uploads/gb.svg' alt='gb flag' />
		</label>
		<label tabindex='0'>
			<input type='radio' name='language' value='nl' {{#if (eq language 'nl')}} checked {{/if}}>
			<img draggable='false' src='/static/uploads/ned.svg' alt='nl flag' />
		</label>
		<input type='submit' value='Save' />
	</form>

	<a href='/colorfilter' aria-label="colorfilter page" data-before='{{#if (eq language 'nl')}} Kleurfilter voor Sanne {{else}} Color filter for Sanne {{/if}}'></a>
</section>