<!-- (5)[desktop: language section] -->
<section class='language'>
	<fieldset>
		<label>
			<input type='radio' name='language' value='en' />
			<img draggable='false' src='/uploads/gb.svg' alt='gb flag' />
		</label>
		<label>
			<input type='radio' name='language' value='nl' />
			<img draggable='false' src='/uploads/ned.svg' alt='nl flag' />
		</label>
	</fieldset>

	<a href='/colorfilter' data-before='Color filter for Sanne'></a>
</section>