<!-- (2)[desktop: generate random art section] -->
<section class='generateRandomArt'>
	<section>
		<img src='' alt='' />
		<div class='skeletonLoader'></div>
		<div>
			<h2 class='skeletonLoader'></h2>
			<p class='skeletonLoader'></p>
		</div>
	</section>
	<button>
		<p>Generate a random art piece</p>
		<img
			draggable='false'
			src='/uploads/arrow-right.svg'
			alt='Arrow icon inside of a button for generating a random piece of art, click the button to explore a random work of art from the collection.'
		/>
	</button>
</section>