<!-- (2)[desktop: generate random art section] -->
<section class='generateRandomArt'>
	<section>
		<img src='{{randomArt.webImage.url}}' alt='{{randomArt.longTitle}}' />
		<div></div>
		<div>
			<h2>{{randomArt.title}}</h2>
			<p>{{randomArt.principalOrFirstMaker}}</p>
		</div>
	</section>
	<form method='get'>
		<button type="submit" name="fetchRandomArt">
			<p>Generate a random art piece</p>
			<img
				draggable='false'
				src='/uploads/arrow-right.svg'
				alt='Arrow icon inside of a button for generating a random piece of art, click the button to explore a random work of art from the collection.'
			/>
		</button>
	</form>
</section>