<!-- (4)[desktop: socials section] -->
<section class='socials'>
	<a href='https://www.instagram.com/rijksmuseum/'><img
			draggable='false'
			src='/static/uploads/instagram.svg'
			alt='Instagram logo, linking to the Rijksmuseum Instagram profile'
		/></a>
	<a href='https://www.facebook.com/rijksmuseum/'><img
			draggable='false'
			src='/static/uploads/facebook.svg'
			alt='Facebook logo, linking to the Rijksmuseum Facebook profile'
		/></a>
	<a href='https://www.youtube.com/channel/UCEXuPfYt1M3e8DT1LDeSfVg'><img
			draggable='false'
			src='/static/uploads/youtube.svg'
			alt='Twitter logo, linking to the Rijksmuseum Twitter profile'
		/></a>
	<a href='https://www.twitter.com/rijksmuseum'><img
			draggable='false'
			src='/static/uploads/twitter.svg'
			alt='LinkedIn logo, linking to the Rijksmuseum LinkedIn profile'
		/></a>
	<a href='https://www.tiktok.com/@rijksmuseum'><img
			draggable='false'
			src='/static/uploads/tiktok.svg'
			alt='TikTok logo, linking to the Rijksmuseum TikTok profile'
		/></a>
	<a href='https://www.linkedin.com/company/rijksmuseum'><img
			draggable='false'
			src='/static/uploads/linkedin.svg'
			alt='YouTube logo, linking to the Rijksmuseum YouTube profile'
		/></a>
</section>