<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='apple-touch-icon' sizes='180x180' href='/static/uploads/apple-touch-icon.png' />
		<meta name='theme-color' media='(prefers-color-scheme: light)' content='#ffffff' />
		<meta name='theme-color' media='(prefers-color-scheme: dark)' content='#0f0f0f' />
		<meta name="description" content='Rijksmuseum Unveiled Art App' />

		<script src='/static/main.js' type='module'></script>
		<link rel='manifest' href='../manifest.json' />
		<title>Rijksmuseum Unveiled</title>
		<link rel='icon' type='image/x-icon' href='/static/uploads/favicon.ico' />
		<link rel='stylesheet' href='/static/index.css' />
		{{!-- <link rel='stylesheet' href='/styles/main.css' />
		{{#each css}}
			<link rel='stylesheet' href='/styles/{{this}}.css' type='text/css' />
		{{/each}} --}}
		{{#each js}}
			<script src='/static/{{this}}.js' type='module'></script>
		{{/each}}
	</head>
	<body>
		<main>
			{{{body}}}
			{{> randomArt}}
			{{> info}}
			{{> socials}}
			{{> language}}
		</main>
	</body>
</html>