/* ------------------------------------- */
/* first load animation */
/* .loadingBanner {
	background-color: var(--color-dark);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.loadingBanner.visible {
	display: block;
	z-index: 999;
}
.loadingBanner img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24%;
	opacity: 0;
}
.loadingBanner.visible img {
	animation: loader 3s ease-in-out;
	opacity: 1;
}
@keyframes loader {
	0% {
		width: calc(100% - 4em);
	}
	60%,
	100% {
		width: 24%;
	}
}
@media only screen and (min-width: 1000px) {
	.loadingBanner {
		top: 0.4em;
		left: 0.4em;
		width: calc(100vw - 0.4em);
		height: calc(100vh - 0.4em);
	}
} */

/* ------------------------------------- */
/* skeleton loader */
/* .generateRandomArt section > div.skeletonLoader,
.generateRandomArt section > div p.skeletonLoader,
.generateRandomArt section > div h2.skeletonLoader {
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%;
	border-radius: var(--border-radius);
	animation: 1.5s shine linear infinite;
}
.generateRandomArt section > div.skeletonLoader {
	display: block;
	width: 100%;
	aspect-ratio: 1.3 / 1;
}
.generateRandomArt section > div p.skeletonLoader {
	height: 3vh;
	width: 20vw;
	border: none !important;
}
.generateRandomArt section > div h2.skeletonLoader {
	height: 3vh;
	width: 26vw;
	margin-bottom: 0.4em;
}
@keyframes shine {
	to {
		background-position-x: -300%;
	}
} */

/* ------------------------------------- */
/* color filter loader */
/* .colorFilter > div {
	display: none;
	align-items: center;
	gap: 0.2em;
	align-self: center;
	height: 100%;
}
.colorFilter.show > div {
	display: flex;
}
.colorFilter > div > div {
	display: inline-block;
	height: 38.6px;
	width: 38.6px;
	opacity: 0;
	animation: colorFilterLoader 1s linear infinite;
}
.colorFilter > div > div:nth-of-type(2) {
	animation-delay: -0.75s;
}
.colorFilter > div > div:nth-of-type(3) {
	animation-delay: -0.5s;
}
.colorFilter > div > div:nth-of-type(4) {
	animation-delay: -0.25s;
}
@keyframes colorFilterLoader {
	0%,
	25%,
	100% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
} */
